<div class="col-md-12 top">
  <div *ngIf="!categories.length"class="home">
    <p>WELCOME TO
      <br>RETAIL MANAGEMENT SYSTEM</p>
    <P>Please select Location</P>
  </div>
  <div *ngIf="categories.length">
    <div *ngFor="let data of categories" class="col-md-3 col-sm-3 col-xs-6 width" (click)="subcategory(data)">
      <div class="col-md-12 col-sm-12 pad0">
        <img [src]="assets/images/category/booms.png" alt="">
      </div>
      <div class="col-md-12 col-sm-12 pad0 height50">
        <p class="abs">{{data.name}}</p>
      </div>
    </div>
  </div>
</div>