    <!-- Add your site or application content here -->
    <div class="header">
      <!-- <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">RETAIL MANAGEMENT SYSTEM</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select location</a>
                <ul class="dropdown-menu" role="menu">
                  <li *ngFor="let data of locationData" class="dropdown-submenu">
                      <a (click)="selectLocation(data)" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">{{data.name}}</a>
                      <ul class="dropdown-menu">
                        <li *ngFor="let child of data.branches">
                          <a (click)="selectBranch(data,child)" tabindex="-1">{{child.name}}</a>
                        </li>
                      </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">RETAIL MANAGEMENT SYSTEM</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle pad18" data-toggle="dropdown">Select location</a>
                  <ul class="dropdown-menu" role="menu">
                    <li *ngFor="let data of locationData" class="dropdown-submenu">
                        <a tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">{{data.name}}</a>
                        <ul class="dropdown-menu">
                          <li *ngFor="let child of data.branches">
                            <a (click)="selectBranch(child)" tabindex="-1">{{child.name}}</a>
                          </li>
                        </ul>
                    </li>
                  </ul>
                </li>
              </ul>
        </div>
    </nav>
  </div>
    

    <div class="container">
        <div class="col-md-12 top">
          <div *ngIf="!data"class="home">
            <p>WELCOME TO
              <br>RETAIL MANAGEMENT SYSTEM</p>
            <P>Please select Location</P>
          </div>
          <div *ngIf="data">
            <ol class="breadcrumb">
                <li *ngFor="let navData of nav">
                  <a href="#" (click)="selectBranch(maindata)" [ngClass]="{'pointer':!navData.branch_id}">&nbsp; {{navData.name}} </a>
                  <span *ngIf="nav.length>1 && navData.branch_id">/</span>
                </li>
              </ol>
            <div *ngFor="let data of data" class="col-md-3 col-sm-3 col-xs-6 width" (click)="subcategory(data)">
              <div class="col-md-12 col-sm-12 pad0">
                <img src="assets/images/category/{{data.image}}" alt="">
              </div>
              <div class="col-md-12 col-sm-12 pad0 height50">
                <p class="abs">{{data.name}} <span class="fa fa-caret-right"></span></p>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p></p>
      </div>
    </div>